<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="SydvestBoDB" connectionString="Server=tcp:sydvestbo.database.windows.net;Database=SydvestBo;
User ID=h1root;Password=Sqlsydvestb0;Trusted_Connection=False;
Encrypt=True;" providerName="System.Data.SqlClient"/>
    
    </connectionStrings>
</configuration>
